<!-- Template Busqueda Server-->
{% extends "AppInvIT/base.html" %}
{% load static %}

{% block contenido %}
    <!-- Contenido Dinamico-->
    <div class="container-fluid">
        <h1 class="mt-4">Buscar Server</h1>
        <h3>Busca si tenemos tu server registrado.</h3>
        <br>
        <form action="/AppInvIT/buscarServer/" method="GET">
            Buscar por Marca
            <input type="text" name="marca" id="marca">
            <input type="submit" value="BUSCAR">
        </form>
    </div>
{% endblock %}